= simple_form_for @application do |f|
  - if @application.errors.any?
    #error_explanation.alert.alert-danger.pt-3.pb-2
      %h2= t('errors.template.header', model: t('application'), count: @application.errors.count)
      %ul
        - @application.errors.full_messages.each do |msg|
          %li= msg
  .container
    .panel.panel-primary
      .panel-heading
        %h2.text-center
          = t(".part_one_heading")
      .panel-body
        .row
          .col-md-4
            = f.input :organization_id, collection: @organization
          .col-md-4
            = f.input :name, label: t(".project_name")
          .col-md-4
            = f.input :coordinator, label: t(".coordinator")
        .row
          .col-md-12
            %h4.text-left
              = t(".project_costs")
        .row
          .col-md-4
            = f.input :amount_applied_for, input_html: { min: '1', required: true,  oninput: "this.value = Math.abs(this.value)"},
              label: t(".amount_applied_for")
          .col-md-4
            = f.input :amount_other_sources, input_html: { min: '0',
              required: true, oninput: "this.value = Math.abs(this.value)"},
              label: t(".amount_other_sources")
          .col-md-4
            = f.input :amount_overall, input_html: { readonly: true },
              label: t(".amount_overall")
    .panel.panel-primary
      .panel-heading
        %h2.text-center
          = t(".part_two_heading")
      .panel-body
        .container
          .form-row
            .col-md-12
              = f.input :description, label: t(".description"), input_html: {rows: '6'}
          .form-row
            .col-md-12
              .container.p-0
                %b
                  = t(".planned_location_and_date")
                .form-row
                  .col-md-8
                    = f.input :location, label: t(".location")
                  .col-md-4
                    = f.input :date, label: t(".event_date")
          .form-row
            .col-md-12
              = f.input :project_subject, label: t(".project_subject")
          .form-row
            .col-md-12
              = f.input :required_resources, label: t(".required_resources")
          .form-row
            .col-md-12
              = f.input :past_schedule, label: t(".past_schedule")
          .form-row
            .col-md-12
              = f.input :collaboration, label: t(".collaboration")
          .form-row
            .col-md-12
              = f.input :target_group, label: t(".target_group")
          .form-row
            .col-md-12
              = f.input :sponsor_enlistment, label: t(".sponsor_enlistment")
          .form-row
            .col-md-12
              = f.input :promotion_plans, label: t(".promotion_plans")
          .container
            %h4.text-center
              = t(".experiences_heading")
            = f.simple_fields_for :experiences do |ex|
              / TODO can this div be a row? layout dillemas
              .container.experiences_row.w-100.my-4.p-3.border.border-secondary
                .row
                  .col-md-4
                    = ex.input :project_name, label: t(".project_name")
                  .col-md-4
                    = ex.input :role, label: t(".role")
                  .col-md-4
                    = ex.input :budget, input_html: { min: '0',
                      required: true,  oninput: "this.value = Math.abs(this.value)",
                      placeholder: 0},
                      label: t(".budget")
                .row
                  .col-md-6
                    = ex.input :project_date, label: t(".project_date")
                  .col-md-6
                    = ex.input :member_name, label: t(".member_name")
                %button.btn.btn-primary.remove_row{type: "button"}
                  = t(:delete)
            %button.btn.btn-primary#add_experience{ type: "button" }
              = t(:add)
          .container
            %h4.text-center
              = t(".schedule_items_heading")
            = f.simple_fields_for :schedule_items do |si|
              .container.schedule_items_row.w-100.my-4.p-3.border.border-secondary
                .row
                  .col-md-4
                    = si.input :todo, label: t(".todo"), input_html: { class: "disable_empty" }
                  .col-md-4
                    = si.input :start_date, label: t(".start_date")
                  .col-md-4
                    = si.input :due_date, label: t(".due_date")
                %button.btn.btn-primary.remove_row{type: "button"}
                  = t(:delete)
            %button.btn.btn-primary#add_schedule_item{ type: "button" }
              = t(:add)

            .form-row
              .col-md-12
                = f.input :current_state, label: t(".current_state_heading")
          .container
            %h4.text-center
              = t(".roles_heading")
            = f.simple_fields_for :roles do |role|
              .container.role_row.w-100.my-4.p-3.border.border-secondary
                .row.role_row
                  .col-md-4
                    = role.input :member_role, label: t(".member_role")
                  .col-md-4
                    = role.input :first_name, label: t(".first_name")
                  .col-md-4
                    = role.input :last_name, label: t(".last_name")
                  .col-md-4
                %button.btn.btn-primary.remove_row{type: "button"}
                  = t(:delete)
            %button.btn.btn-primary#add_member{ type: "button" }
              = t(".add_member")
          .container
            .row
              %h4
                = t(".attachments")
              = f.file_field :files, multiple: true 
              %br
            %button.btn.btn-primary.btn-block.rounded-sm{type: "submit"}
              = t(".submit")
