= simple_form_for @application do |f|
  - if @application.errors.any?
    #error_explanation.alert.alert-danger.pt-3.pb-2
      %h2= t('errors.template.header', model: t('application'), count: @application.errors.count)
      %ul
        - @application.errors.full_messages.each do |msg|
          %li= msg
  .container
    .panel.panel-primary
      .panel-heading
        %h2.text-center
          = t(".part_one_heading")
      .panel-body
        .row
          .col-md-4
            = f.input :organization_id, collection: @organization
          .col-md-4
            = f.input :name, label: t(".project_name")
          .col-md-4
            = f.input :coordinator, label: t(".coordinator")
        .row
          .col-md-12
            %h4.text-left
              = t(".project_costs")
        .row
          .col-md-4
            = f.input :amount_applied_for, input_html: { min: '1', required: true,  oninput: "this.value = Math.abs(this.value)"},
              label: t(".amount_applied_for")
          .col-md-4
            = f.input :amount_other_sources, input_html: { min: '0',
              required: true, oninput: "this.value = Math.abs(this.value)"},
              label: t(".amount_other_sources")
          .col-md-4
            = f.input :amount_overall, input_html: { readonly: true },
              label: t(".amount_overall")
    .panel.panel-primary
      .panel-heading
        %h2.text-center
          = t(".part_two_heading")
      .panel-body
        .container
          .form-row
            .col-md-12
              = f.input :description, label: t(".description"), input_html: {rows: '6'}
          .form-row
            .col-md-12
              .container.p-0
                %b
                  = t(".planned_location_and_date")
                .form-row
                  .col-md-8
                    = f.input :location, label: t(".location")
                  .col-md-4
                    = f.input :date, label: t(".event_date")
          .form-row
            .col-md-12
              = f.input :project_subject, label: t(".project_subject")
          .form-row
            .col-md-12
              = f.input :required_resources, label: t(".required_resources")
          .form-row
            .col-md-12
              = f.input :past_schedule, label: t(".past_schedule")
          .form-row
            .col-md-12
              = f.input :collaboration, label: t(".collaboration")
          .form-row
            .col-md-12
              = f.input :target_group, label: t(".target_group")
          .form-row
            .col-md-12
              = f.input :sponsor_enlistment, label: t(".sponsor_enlistment")
          .form-row
            .col-md-12
              = f.input :promotion_plans, label: t(".promotion_plans")
          .container
            %h4.text-center
              = t(".experiences_heading")
            %div{"data-controller" => 'nested-form'}
              %template{"data-target" => 'nested-form.template'}
                = f.fields_for :experiences, Experience.new, child_index: 'NEW_RECORD_EXPERIENCE' do |ex|
                  = render "experiences_fields", f: ex

              = f.fields_for :experiences do |ex|
                = render "experiences_fields", f: ex
              .mb-3{"data-target" => "nested-form.links"}
                = link_to t(:add), "#", class: "btn btn-primary", data: { action: "click->nested-form#add_association" }
          .container
            %h4.text-center
              = t(".schedule_items_heading")
            %div{"data-controller" => 'nested-form'}
              %template{"data-target" => 'nested-form.template'}
                = f.fields_for :schedule_items, ScheduleItem.new, child_index: 'NEW_RECORD_SCHEDULE' do |si|
                  = render "schedule_fields", f: si

              = f.fields_for :schedule_items do |si|
                = render "schedule_fields", f: si
              .mb-3{"data-target" => "nested-form.links"}
                = link_to t(:add), "#", class: "btn btn-primary", data: { action: "click->nested-form#add_association" }
          .container
            %h4.text-center
              = t(".roles_heading")
            %div{"data-controller" => 'nested-form'}
              %template{"data-target" => 'nested-form.template'}
                = f.fields_for :roles, Role.new, child_index: 'NEW_RECORD_ROLE' do |role|
                  = render "role_fields", f: role

              = f.fields_for :roles do |role|
                = render "role_fields", f: role
              .mb-3{"data-target" => "nested-form.links"}
                = link_to t(:add), "#", class: "btn btn-primary", data: { action: "click->nested-form#add_association" }
          .container
            .row
              %h4
                = t(".attachments")
              = f.file_field :files, multiple: true
              %br
            = t(".attachments_info")
            -if decision == 'update'
              = f.hidden_field :decision, :value => 'update'
              %button.btn.btn-primary.btn-block.rounded-sm#submit_application{type: "submit"}
                = t(".save_changes")
            -elsif decision == 'new'
              %button.btn.btn-primary.btn-block.rounded-sm#submit_application{type: "submit"}
                = t(".submit")
