%h1 Wszystkie podania

%table.table.table-hover
  %thead
    %tr
      %th Nazwa podania
      %th Data utworzenia
      %th Kwota ogółem
      %th
      %th
      %th

  %tbody
    - @applications.each do |application|
      %tr
        %td= application.name
        %td= application.date
        %td= application.amount_overall
        %td= link_to 'Pokaż', application
        %td= link_to 'Edytuj', edit_application_path(application)
        %td= link_to 'Usuń', applications_path, :method => :delete, :data => { :confirm => 'Czy na pewno chcesz usunąć podanie?' }

%br

= link_to 'New Application', new_application_path
