%h1.text-center Wnioski K 
.table-responsive.table.table-hover.table-striped
  %table.table.table-hover
    %thead.table-primary
      %tr
        %th.align-middle 
          = t "applications.form.project_name"
        %th.align-middle
          = t "applications.form.coordinator"
        %th.align-middle 
          = t "applications.index.organization"
        %th.align-middle 
          = t "applications.index.creation_date"
        %th.align-middle
          = t "applications.index.state"

    %tbody#selectable
      - @applications.each do |application|
        %tr{:id => application.id.to_s}
          %td
            = application.name
            %a.fas.fa-eye{:href => application_path(application) }
          %td= application.coordinator
          - organization = Organization.find(application.organization_id)
          %td= organization.name
          %td= application.created_at.to_formatted_s(:db)
          -if application.pending?
            %td.p-0.bg-warning.align-middle.text-center{ :id => "applicationDropdown" + application.id.to_s, "data-toggle" => "dropdown" } 
              Oczekujący
          -elsif application.accepted?
            %td.p-0.bg-success.align-middle.text-center{ :id => "applicationDropdown" + application.id.to_s, "data-toggle" => "dropdown" } 
              Zaakceptowany
          -elsif application.rejected?
            %td.p-0.bg-danger.align-middle.text-center{ :id => "applicationDropdown" + application.id.to_s, "data-toggle" => "dropdown" } 
              Odrzucony
          -else
            %td

  .btn-group
    =button_to("Wybierz akcję...", 
      { method: :patch},
      { params: {:decision => "", :selections => "", :organization_id => 1 }, 
        :class => "button btn btn-primary btn-lg rounded-sm", :id => "actionName", :disabled => true } )
        =#TODO app should not submit a whole dummy application just to change the state of a few exisiting ones
    %button.btn.btn-primary.btn-lg.dropdown-toggle.dropdown-toggle-split{ "data-toggle" => "dropdown"}
    .dropdown-menu
      .dropdown-item#accept Zaakceptuj
      .dropdown-item#reject Odrzuć
      .dropdown-item#pend Oczekuj
      .dropdown-item#delete Usuń
