%h1 
  = t(".all_applications")

%table.table.table-hover
  %thead
    %tr
      %th 
        =t(".application_name")
      %th 
        =t(".creation_date")
      %th 
        =t(".amount_overall")
      %th
      %th
      %th

  %tbody
    - @applications.each do |application|
      %tr
        %td= application.name
        %td= application.date
        %td= application.amount_overall
        %td= link_to t(:show), application
        %td= link_to t(:edit), edit_application_path(application)
        %td= link_to t(:delete), applications_path, :method => :delete, :data => { :confirm => t(".confirm_delete") }

%br

= link_to t(".new_application"), new_application_path
