%h1.text-center 
  = t('.k_applications')
.table-responsive.table.table-hover.table-striped
  %table.table.table-hover
    %thead.table-primary
      %tr
        %th.align-middle 
          = t "applications.form.project_name"
        %th.align-middle
          = t "applications.form.coordinator"
        %th.align-middle 
          = t "applications.index.organization"
        %th.align-middle 
          = t "applications.index.creation_date"
        %th.align-middle
          = t "applications.index.state"

    %tbody#selectable
      - @applications.each do |application|
        %tr{:id => application.id.to_s}
          %td
            = application.name
            %a.fas.fa-eye{:href => application_path(application) }
            %a.fas.fa-pen{:href => edit_application_path(application) }
          %td= application.coordinator
          - organization = Organization.find(application.organization_id)
          %td= organization.name
          %td= application.created_at.to_formatted_s(:db)
          -if application.pending?
            %td.p-0.bg-warning.align-middle.text-center{ :id => "applicationDropdown" + application.id.to_s, "data-toggle" => "dropdown" } 
              =t('.pending')
          -elsif application.accepted?
            %td.p-0.bg-success.align-middle.text-center{ :id => "applicationDropdown" + application.id.to_s, "data-toggle" => "dropdown" } 
              =t('.accepted')
          -elsif application.rejected?
            %td.p-0.bg-danger.align-middle.text-center{ :id => "applicationDropdown" + application.id.to_s, "data-toggle" => "dropdown" } 
              =t('.rejected')
          -else
            %td

  .btn-group
    =button_to t('.select_action'), bulk_action_applications_path, method: :patch, id: "actionName", class: "button btn btn-primary btn-lg rounded-sm", disabled: true, params: {:decision => "", :selections => "" }
    %button.btn.btn-primary.btn-lg.dropdown-toggle.dropdown-toggle-split{ "data-toggle" => "dropdown"}
    .dropdown-menu
      .dropdown-item#accept
        =t('.accept')
      .dropdown-item#reject
        =t('.reject')
      .dropdown-item#delete
        =t('.delete')
