%h1.text-center Wniosek K
= simple_form_for @application do |f|
  .container
    .panel.panel-primary
      .panel-heading
        %h2 Część I - informacje o wnioskodawcy
      .panel-body
        .container
          .row
            .col-md-4
              = f.association :organization, label: "Organizacja wnioskująca", collection: @organizations
            .col-md-4
              = f.input :name, label: "Nazwa projektu"
            .col-md-4
              = f.input :coordinator, label: "Koordynator"
          .row
            .col-md-12
              %h4.text-left Koszty projektu
          .row
            .col-md-4
              - @application.amount_applied_for = 0
              = f.input :amount_applied_for, input_html: { min: '1',
                required: true,  oninput: "this.value = Math.abs(this.value)"},
                label: "Kwota wnioskowana"
            .col-md-4
              - @application.amount_other_sources = 0
              = f.input :amount_other_sources, input_html: { min: '0',
                required: true, oninput: "this.value = Math.abs(this.value)"},
                label: "Kwota z innych źródeł"
            .col-md-4
              = f.input :amount_overall, input_html: { readonly: true },
                label: "Kwota ogółem"
    .panel.panel-primary
      .panel-heading
        %h2 Część II - informacje o projekcie
      .panel-body
        .container
          .form-row
            .col-md-8
              = f.input :description, label: "Tematyka i opis projektu", input_html: { rows: '6' }
          .form-row
            .col-md-12
              .container.p-0
                %b Planowany termin i miejsce (jeżeli dotyczy) realizacji projektu
                .form-row
                  .col-md-4
                    = f.input :location, label: "Miejsce"
                  .col-md-4
                    = f.input :date, label: "Data"
          .form-row
            .col-md-8
              = f.input :project_subject, label: "Cel projektu", input_html: { rows: '4' }
          .form-row
            .col-md-8
              = f.input :required_resources, label: "Informacja o zasobach niezbędnych do realizacji projektu (lokalowych, technicznych, kadrowych) wraz z koncepcją ich pozyskania", input_html: { rows: '4' }
          .form-row
            .col-md-8
              = f.input :past_schedule, label: "Wykaz realizacji wnioskowanego projektu w latach poprzednich", input_html: { rows: '4' }
          .form-row
            .col-md-8
              = f.input :collaboration, label: "Współpraca organizacyjna z innymi podmiotami", input_html: { rows: '4' }
          .form-row
            .col-md-8
              = f.input :target_group, label: "Docelowa grupa odbiorców projektu", input_html: { rows: '4' }
          .form-row
            .col-md-8
              = f.input :sponsor_enlistment, label: "Opis strategii pozyskiwania sponsorów", input_html: { rows: '4' }
          .form-row
            .col-md-8
              = f.input :promotion_plans, label: "Planowane działania promocyjne projektu", input_html: { rows: '4' }
        .container
          %h4.text-center Doświadczenie zespołu organizatorów w podobnych projektach:
          = f.simple_fields_for :experiences do |ex|
            / TODO can this div be a row? layout dillemas
            .container.experiences_row.w-100.my-4.p-3.border.border-secondary
              .row
                .col-md-4
                  = ex.input :project_name, label: "Nazwa Projektu"
                .col-md-4
                  = ex.input :role, label: "Pełniona funkcja"
                .col-md-4
                  = ex.input :budget, input_html: { min: '0',
                    required: true,  oninput: "this.value = Math.abs(this.value)",
                    placeholder: 0},
                    label: "Budżet"
              .row
                .col-md-6
                  = ex.input :project_date, label: "Data wydarzenia"
                .col-md-6
                  = ex.input :member_name, label: "Imię i nazwisko członka zespołu"
              %button.btn.btn-default.remove_row{ type: "button" } Usuń
          %button.btn.btn-default#add_experience{ type: "button" } Dodaj
        .container
          %h4.text-center Harmonogram realizacji projektu
          = f.simple_fields_for :schedule_items do |si|
            .container.schedule_items_row.w-100.my-4.p-3.border.border-secondary
              .row
                .col-md-4
                  = si.input :todo, label: "Pozycja", input_html: { class: "disable_empty" }
                .col-md-4
                  = si.input :start_date, label: "Data rozpoczęcia"
                .col-md-4
                  = si.input :due_date, label: "Data zakończenia"
              %button.btn.btn-default.remove_row{type: "button"} Usuń
          %button.btn.btn-default#add_schedule_item{ type: "button" } Dodaj
          = f.input :current_state, label: "Aktualny stan zaawansowania projektu lub powiązania z innymi projektami", input_html: { rows: '4', class: "w-100" }
        .container
          %h4.text-center Skład zespołu realizatorów projektu
          = f.simple_fields_for :roles do |role|
            .container.role_row.w-100.my-4.p-3.border.border-secondary
              .row
                .col-md-4
                  = role.input :member_role, label: "Funkcja"
                .col-md-4
                  = role.input :first_name, label: "Imię"
                .col-md-4
                  = role.input :last_name, label: "Nazwisko"
              %button.btn.btn-default.remove_row{type: "button"} Usuń
          %button.btn.btn-default#add_member{ type: "button" } Dodaj członka
    %h4.mt-5 Załączniki
    %button.btn.btn-default.mt-5{type: "submit"}
      Aplikuj
