%p#notice= notice

%p
  %b 
    = t("applications.form.applying_organization") + ':'
  = @application.organization.name
%p
  %b 
    = t("applications.form.project_name") + ':'
  = @application.name
%p
  %b 
    = t("applications.form.coordinator") + ':'
  = @application.coordinator
%p
  %b
    = t("applications.form.amount_applied_for") + ':'
  = @application.amount_applied_for
%p
  %b
    = t("applications.form.amount_other_sources") + ':'
  = @application.amount_other_sources
%p
  %b 
    = t("applications.form.amount_overall") + ':'
  = @application.amount_overall
%br
%p
  %b 
    = t("applications.form.description") + ':'
  = @application.description
%p
  %b 
    = t("applications.form.location") + ':'
  = @application.location
%p
  %b 
    = t("applications.form.event_date") + ':'
  = @application.date
%p
  %b 
    = t("applications.form.project_subject") + ':'
  = @application.project_subject
%p
  %b 
    = t("applications.form.required_resources") + ':'
  = @application.required_resources
%p
  %b 
    = t("applications.form.past_schedule") + ':'
  = @application.past_schedule
%p
  %b 
    = t("applications.form.collaboration") + ':'
  = @application.collaboration
%p
  %b 
    = t("applications.form.target_group") + ':'
  = @application.target_group
%p
  %b 
    = t("applications.form.sponsor_enlistment") + ':'
  = @application.sponsor_enlistment
%p
  %b 
    = t("applications.form.promotion_plans") + ':'
  = @application.promotion_plans
%br
%p
  %b 
    = t("applications.form.experiences_heading")
%table.table.table-hover
  %thead
    %tr
      %th 
        = t("applications.form.project_name") 
      %th 
        = t("applications.form.role") 
      %th 
        = t("applications.form.budget") 
      %th 
        = t("applications.form.project_date") 
      %th 
        = t("applications.form.member_name") 
  %tbody
  - @application.experiences.all.each do |t|
    %tr
      %td= t[:project_name]
      %td= t[:role]
      %td= t[:budget]
      %td= t[:project_date]
      %td= t[:member_name]
%p
  %b 
    = t("applications.form.schedule_items_heading")
%table.table.table-hover
  %thead
    %tr
      %th  
        = t("applications.form.todo")
      %th 
        = t("applications.form.start_date")
      %th 
        = t("applications.form.due_date")
  %tbody
  - @application.schedule_items.all.each do |t|
    %tr
      %td= t[:todo]
      %td= t[:start_date]
      %td= t[:due_date]
%br
%p
  %b 
    = t("applications.form.current_state_heading")
  = @application.current_state
%p
  %b
    = t("applications.form.roles_heading")
%table.table.table-hover
  %thead
    %tr
      %th 
        = t("applications.form.roles_heading")
      %th 
        = t("applications.form.roles_heading")
      %th 
        = t("applications.form.roles_heading")
  %tbody
  - @application.roles.all.each do |t|
    %tr
      %td= t[:member_role]
      %td= t[:first_name]
      %td= t[:last_name]
= link_to t(:edit), edit_application_path(@application)

= link_to t(:back), applications_path
