%h1.text-center 
  = t('application.new.k_application')
-# TODO only show this container to admin
.container
  .row
    .col-md-12
      = t('.application_state') + ':'
      -if @application.pending?
        = t('.pending')
      -elsif @application.accepted?
        = t('.accepted')
      -elsif @application.rejected?
        = t('.rejected')
-if @application.pending? && policy(@application).update?
  .row.btn-row
    .col-md-12
      =button_to t('.accept'), application_path, params: {decision: :accept}, method: :patch, class: 'btn btn-success'
      =button_to t('.reject'), application_path, params: {decision: :reject}, method: :patch, class: 'btn btn-danger'
.container
  .panel.panel-primary
    .panel-heading
      %h2
        = t('applications.form.part_one_heading')
    .panel-body
      .container
        .row
          .col-md-4
            = t("applications.form.applying_organization")  
          .col-md-4
            = t("applications.form.project_name")
          .col-md-4
            = t("applications.form.coordinator")
        .row
          .col-md-4
            -organization = Organization.find @application.organization_id
            =organization.name
          .col-md-4
            =@application.name
          .col-md-4
            =@application.coordinator
        .row
          .col-md-12
            %h4.text-left 
              = t('applications.form.project_costs')
        .row
          .col-md-4
            = t("applications.form.amount_applied_for")
          .col-md-4
            = t("applications.form.amount_other_sources")
          .col-md-4
            = t("applications.form.amount_overall")
        .row
          .col-md-4
            =@application.amount_applied_for        
          .col-md-4
            =@application.amount_other_sources
          .col-md-4
            =@application.amount_overall
  .panel.panel-primary
    .panel-heading
      %h2
        = t('applications.form.part_two_heading')
    .panel-body
      .container
        .form-row
          .col-md-8
            = t("applications.form.description")
          .col-md-8
            %p= @application.description
        - if !@application.location.nil? || !@application.date.nil? 
          .form-row
            .col-md-12
              .container.p-0
                .form-row
                  - if !@application.location.nil?
                    .col-md-4
                      = t("applications.form.location")
                  - if !@application.date.nil?
                    .col-md-4
                      = t("applications.form.event_date")
                .form-row
                  - if !@application.location.nil?
                    .col-md-4
                      = @application.location
                  - if !@application.date.nil?
                    .col-md-4
                      = @application.date.to_s
        .form-row
          .col-md-8
            = t("applications.form.project_subject")
          .col-md-8
            %p= @application.project_subject
        .form-row
          .col-md-8
            = t("applications.form.required_resources")
          .col-md-8
            %p= @application.required_resources
        .form-row
          .col-md-8
            = t("applications.form.past_schedule")
          .col-md-8
            %p= @application.past_schedule
        .form-row
          .col-md-8
            = t("applications.form.collaboration")
          .col-md-8
            %p= @application.collaboration
        .form-row
          .col-md-8
            = t("applications.form.target_group")
          .col-md-8
            %p= @application.target_group
        .form-row
          .col-md-8
            = t("applications.form.sponsor_enlistment")
          .col-md-8
            %p= @application.sponsor_enlistment
        .form-row
          .col-md-8
            = t("applications.form.promotion_plans")
          .col-md-8
            %p= @application.promotion_plans
      .container
        %h4.text-center 
          = t("applications.form.experiences_heading") + ':'
        - @application.experiences.each do |experience|
          / TODO can this div be a row? layout dillemas
          .container.experiences_row.w-100.my-4.p-3.border.border-secondary
            .row
              .col-md-4
                = t("applications.form.project_name") 
              .col-md-4
                = t("applications.form.role") 
              .col-md-4
                = t("applications.form.budget")
            .row
              .col-md-4
                = experience.project_name
              .col-md-4
                = experience.role
              .col-md-4
                = experience.budget
            .row
              .col-md-6
                = t("applications.form.project_date") 
              .col-md-6
                = t("applications.form.member_name")
            .row
              .col-md-6
                = experience.project_date.to_s
              .col-md-6
                = experience.member_name
      .container
        %h4.text-center 
          = t("applications.form.schedule_items_heading")
        - @application.schedule_items.each do |schedule_item|
          .container.schedule_items_row.w-100.my-4.p-3.border.border-secondary
            .row
              .col-md-4
                = t("applications.form.todo")
              .col-md-4
                = t("applications.form.start_date")
              .col-md-4
                = t("applications.form.due_date")
            .row
              .col-md-4
                = schedule_item.todo
              .col-md-4
                = schedule_item.start_date.to_s
              .col-md-4
                = schedule_item.due_date.to_s
          .container
            .row
              .col-md-12
                = t("applications.form.todo")
              .col-md-12
                %p= @application.current_state
      .container
        %h4.text-center 
          = t("applications.form.due_date")
        - @application.roles.each do |role|
          .container.role_row.w-100.my-4.p-3.border.border-secondary
            .row
              .col-md-4
                = t("applications.form.member_role")
              .col-md-4
                = t("applications.form.first_name")
              .col-md-4
                = t("applications.form.last_name")
            .row
              .col-md-4
                = role.member_role
              .col-md-4
                = role.first_name
              .col-md-4
                = role.last_name
  %h4.mt-5 
    = t('applications.form.attachments')
  - i = 0
  - @application.files.each do |file|
    %a{href: rails_blob_path(file, disposition: "attachment")}=file.filename
    %br
