= form_with(model: faculty, local: true) do |form|
  - if faculty.errors.any?
    .error_explanation
      %h2= t("errors.template.header", count: @faculty.errors.count, model: t('faculty'))
      %ul
      - @faculty.errors.full_messages.each do |message|
        %li.ml-3= message

  .field
    = form.label :name, t("faculties.index.faculty_name")
    = form.text_field :name, id: :faculty_name

  .actions
    = form.submit t('submit')
