%p#notice
  = notice

%h1 Wszystkie Wydziały
%i.fas.fa-pen

%table.table.table-hover
  %thead
    %tr
      %th Nazwa wydziału

  %tbody
    - @faculties.each do |faculty|
      %tr
        %td= faculty.name
        %td= link_to 'Pokaż', faculty
        %td= link_to 'Edytuj', edit_faculty_path(faculty)
        %td= link_to 'Usuń', faculty, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć wydział?' }
%br

= link_to 'Dodaj wydział', new_faculty_path
