<p id="notice"><%= notice %></p>

<h1>Wszystkie Wydziały</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nazwa wydziału</th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
	<td><%= faculty.name %></td>
        <td><%= link_to 'Pokaż', faculty %></td>
        <td><%= link_to 'Edytuj', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Usuń', faculty, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć wydział?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj wydział', new_faculty_path %>
