%h2 
  = t('devise.shared.links.password_recovery')
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, label: t(:email), required: true, autofocus: true
  .form-actions
    = f.button :submit, t('.send_reset_instructions')
= render "devise/shared/links"
