= javascript_pack_tag 'applications/form', 'data-turbolinks-track': 'reload'
= form_for @organization do |f|
  - if @organization.errors.any?
    .error_explanation
      %h2= t("errors.template.header", count: @organization.errors.count, model: t('organization'))
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li.ml-3= msg

  .field
    = f.label :name, t("organizations.name")
    = f.text_field :name
  .field
    = f.label :time_of_establishment, t("organizations.time_of_establishment")
    = f.date_select :time_of_establishment
  .field
    = f.collection_select(:faculty_id, Faculty.all, :id, :name)
  .actions
    = f.submit t(:submit)
