
.container-fluid
  %h1 Wszystkie organizacje
  .table-responsive
    %table.table.table-hover.table-striped
      %thead.table-primary
        %tr
          %th.align-middle Nazwa organizacji
          %th.align-middle Data utworzenia
          %th.align-middle Wydział
          %th
          %th
          %th

      %tbody
        - @organizations.each do |organization|
          %tr
            %td= organization.name
            %td= organization.time_of_establishment
            %td= organization.faculty.name
            %td= link_to 'Pokaż', organization
            %td= link_to 'Edytuj', edit_organization_path(organization)
            %td= link_to 'Usuń', organization, :method => :delete, :data => { :confirm => 'Czy na pewno chcesz usunąć organizację?' }

    %br

= link_to 'Nowa organizacja', new_organization_path
