<<<<<<< Updated upstream
%h1 Listing organizations

%table
  %thead
    %tr
      %th Name
      %th Time of establishment
      %th Faculty
      %th
      %th
      %th

  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.name
        %td= organization.time_of_establishment
        %td= organization.faculty.name
        %td= link_to 'Show', organization
        %td= link_to 'Edit', edit_organization_path(organization)
        %td= link_to 'Destroy', organization, :method => :delete, :data => { :confirm => 'Are you sure?' }
=======
.container-fluid
  %h1 Wszystkie organizacje

  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th Nazwa organizacji
          %th Data utworzenia
          %th Wydział
          %th
          %th
          %th

      %tbody
        - @organizations.each do |organization|
          %tr
            %td= organization.name
            %td= organization.time_of_establishment
            %td= organization.faculty.name
            %td= link_to 'Pokaż', organization
            %td= link_to 'Edytuj', edit_organization_path(organization)
            %td= link_to 'Usuń', organization, :method => :delete, :data => { :confirm => 'Czy na pewno chcesz usunąć organizację?' }
>>>>>>> Stashed changes

    %br

= link_to 'New Organization', new_organization_path
