%p
  %b
    = t("organizations.organization_name") + ':'
  = @organization.name
%p
  %b
    = t("organizations.time_of_establishment") + ':'
  = @organization.time_of_establishment
%p
  %b
    = t("faculty") + ':'
  =@organization.faculty.name

= link_to t("edit"), edit_organization_path(@organization)
\|
= link_to t("back"), organizations_path
