%p#notice= notice

%p
  %b Nazwa organizacji:
  = @organization.name
%p
  %b Data utworzenia:
  = @organization.time_of_establishment
%p
  %b Wydział:
  = @organization.faculty.name

= link_to 'Edytuj', edit_organization_path(@organization)
\|
= link_to 'Powrót', organizations_path
