%p#notice= notice

%p
  %b Name:
  = @organization.name
%p
  %b Time of establishment:
  = @organization.time_of_establishment
%p
  %b Faculty:
  = @organization.faculty_id

= link_to 'Edit', edit_organization_path(@organization)
\|
= link_to 'Back', organizations_path
