%nav.navbar.navbar-default
  .container-fluid
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Home', root_path
      %li= link_to 'Organization', organizations_path
      %li= link_to 'Application', new_application_path
      %li= link_to 'Faculties', faculties_path
      -if current_user 
        %li= link_to 'Log out', destroy_user_session_path, method: :delete
      -else
        %li= link_to 'Log in', new_user_session_path
        %li= link_to 'Sign up', new_user_registration_path
        %li= link_to 'Reset password', new_user_password_path
