%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand Finansowanie
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Strona główna', root_path
      %li= link_to 'Organizacje', organizations_path
      %li= link_to 'Aplikuj o wniosek K', new_application_path
      %li= link_to 'Wydziały', faculties_path
      -if current_user
        %li= link_to 'Wyloguj', destroy_user_session_path, method: :delete
      -else
        %li= link_to 'Logowanie', new_user_session_path
        %li= link_to 'Rejestracja', new_user_registration_path
        %li= link_to 'Zmiana_hasła', new_user_password_path
