!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ name:"viewport",
            content:"width=device-width, initial-scale=1, shrink-to-fit=no"}
    = csrf_meta_tags
    %title Finansowanie
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload'
  %body.bg-gradient-secondary
    %header
      = render 'layouts/header'
    .container.bg-light.rounded.py-4
      .row
        .col-md-12
      .row
        .col-md-5
          - flash.each do |key, value|
            %div{class: "#{flash_class(key)}"}
              = value
      .row
        .col-md-12
          = yield
